%style 
  :css
    body {
      background-color: blue;
    }

    h1 {
      color: maroon;
      margin-left: 40px;
    }
    .ui.container {
      margin-top: 3em;
    }

    .ui.dividing.header,
    .first {
      margin-top: 5em;
    }

    .ui.dividing.header:first-child {
      margin-top: 0em;
    }
    
    p {
      margin-top: 2em;
    }
    h1, h2,
    h3 {
      margin-top: 10em;
    }
