%turbo-frame#reply_later_tray
  Salut Je suis test !

%turbo-frame#link_test 
  Hey je suis aussi une réponse.

  %turbo-stream(action="append" target="test-2")
    %template
      Content to append to container designated with the dom_id.